<% suggestion.each do |user| %>
    <div class="d-flex my-3">
      <div class="tofollow-image profile_thumbnail mx-3">
        <%= image_tag(user.photo, class:"w-100 h-100 tofollow-image ")  %>
      </div>

      <div class="mx-3">
        <%= link_to user.full_name.capitalize(), user %> <br>
        <small>@<%= link_to user.username, user %></small>
      </div>

      <div class="ml-auto mr-3">
        <%= link_to follow_user_path(user),  method: :post, class: "navbar-item" do %>
          <span class="material-icons text-muted">add_circle_outline</span>
        <% end %>
      </div>
    </div>
<% end %>
<br>

