
<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-sm bg-primary h-100">
      <h3>Techbits</h3>
      <span class="material-icons">sports_volleyball</span>
    </div>
    <div class="col-sm h-100">
    <p>Sign Up </p>
      <%= render 'form', user: @user %>

      <%= link_to 'Login', login_path %>
      
    <%= flash_message %>
  	
    </div>
    
  </div>

</div>