/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";


.material-icons {
     color: white;
     font-size: 32px !important;
 }

 a {
     line-height: 0 !important;
 }

 .content-type {
     border-right: 1px grey solid;
     min-height: 100vh;
 }

 .grey-bg {
     background-color: f5f6f8;
 }

 .profile_thumbnail {
     width: 64px;
     height: 64px;
     
 }

 .tofollow-image {
     
    border-radius: 50%
 }

 .coverimage {
    width: 100%;
    height: 300px;
 }

 .user-show {
     height: 300px
 }

.side-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}