<div class="row border-bottom">
  <div class= "col-9 border-right grey-bg">
    <div class="d-flex bd-highlight row p-3 border-bottom">
      <div class="p-2 bd-highlight"><a href="#"><h5>TWEETS</h5></a></div>
    </div>
  </div>

  <div class="col-3 d-flex justify-content-center"> 

      <h5 id="side-bar">Who to follow</h5>
      
  </div>
</div>

<div class="row ">
  <div class= "col-9 border-right main-sec">
    <div class="p-3">
      <div class="p-6, bg-light">
        <%= render 'form', techbit: @techbit %>
      </div>

    <div class="pt-3">
      <%= render "feed" %>
    </div>
  </div>
  </div>

  <div class= "col-3">

    <%= render "users/who_to_follow" %>
  
  </div>
</div>






